# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ANDRES\OneDrive\Escritorio\UNAL - 2022-I\Ingeniería de Software\Taller Objetos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
